---
import Button from '../UI/button.astro'
---

<div
	class="flex flex-col items-center justify-between gap-5 px-5 sm:px-15 md:flex-row md:gap-10 md:px-5 lg:gap-15 lg:px-20 xl:gap-20"
>
	<div class="">
		<h1 class="text-6xl font-semibold lg:text-7xl xl:text-8xl">
			RAIH SUKSES <span class="text-primary">ERA DIGITAL</span>
		</h1>
		<p class="mt-4 text-xl md:mt-6 md:mb-4 lg:text-2xl xl:mt-10 xl:text-3xl">
			Di Kampus IT Terbaik se-Bali dan Nusa Tenggara
		</p>
		<p class="mb-6 text-slate-500 md:mb-10 lg:text-xl xl:mb-14 xl:text-2xl">
			Berdasarkan Pemeriksaan DISTI Tahun 2020
		</p>
		<Button />
	</div>

	<div
		class="bg-primary flex h-60 max-h-140 w-full items-center justify-end md:aspect-square md:h-auto md:max-w-140"
	>
		<!-- Image -->
		<div class=""></div>
	</div>
</div>
