<div class="flex flex-col px-5 text-white">
	<div class="">
		<h1 class="text-6xl font-semibold">
			RAIH SUKSES <span class="text-primary">ERA DIGITAL</span>
		</h1>
		<p class="mt-5 text-xl">Di Kampus IT Terbaik se-Bali dan Nusa Tenggara</p>
	</div>
</div>
