---
import HomeView from './HomeView.astro'
import PersentaseView from './PersentaseView.astro'
import AboutView from './AboutView.astro'
import ProgramPendidikan from './ProgramPendidikan.astro'
import Footer from '../ui/Footer.astro'
---

<div class="mx-auto flex flex-col gap-40 text-white">
	<HomeView />
	<PersentaseView />
	<AboutView />
	<ProgramPendidikan />
	<Footer />
</div>
