---
import { ChevronDown } from '@lucide/astro'
import { getLocale } from 'astro-i18n-aut'
import { loadTranslations } from '../../lib/i18n'
import type { LinkType } from '../../types/types'
import LanguageSwitcher from '../UI/LanguageSwitcher.astro'

const locale = getLocale(Astro.url)
const { nav } = await loadTranslations(locale)
---

<div class="hidden items-center gap-6 lg:flex xl:gap-10">
	{
		nav.desktop.map((e: LinkType) => (
			<a href={e.link}>
				<div class="flex items-center gap-1">
					<h1 class="hoverNav text-sm text-nowrap 2xl:text-base">{e.title}</h1>
					{e.children && <ChevronDown size={20} />}
				</div>
			</a>
		))
	}
	<a href="/" class="border-bg border-2 px-4 py-2 text-nowrap">{nav.button}</a>
	<LanguageSwitcher />
</div>
