---
const navLinks = [
	{ title: 'Pendidikan', link: '/' },
	{
		title: 'Tentang Kami',
		link: '/',
		children: [
			{ title: 'Fasilitas', link: '/' },
			{ title: 'Struktur Organisasi', link: '/' }
		]
	},
	{ title: 'Kehidupan Kampus', link: '/' },
	{ title: 'Riset & Pengabdian', link: '/' }
]
---

<div class="hidden items-center gap-6 lg:flex xl:gap-10">
	{navLinks.map((e) => <div class="hoverNav text-nowrap">{e.title}</div>)}
	<button class="border-bg border-2 px-4 py-2">Penerimaan</button>
</div>
