---
import { ChevronRight } from '@lucide/astro'
import { getLocale } from 'astro-i18n-aut'
import { loadTranslations } from '../../lib/i18n'
import type { LinkType } from '../../types/types'

const locale = getLocale(Astro.url)
const { nav } = await loadTranslations(locale)
---

<div
	id="menuContent"
	class="menuOpen hideScrollbar bg-secondary-bg absolute top-0 left-0 z-1 h-[100dvh] w-[100dvw] overflow-auto pt-20 text-white transition-all md:pt-25 lg:hidden"
>
	<div class="grid grid-cols-1 px-5">
		{
			nav.mobile.map((e: LinkType) => (
				<div class="flex items-center justify-between border-b border-black py-5">
					<p class="font-semibold md:text-xl">{e.title}</p>
					<ChevronRight />
				</div>
			))
		}
	</div>
	<div class="bg-lighter-bg px-5 py-5">
		{
			nav.addNav.map((e: LinkType) => (
				<div class="flex items-center justify-between py-2 md:py-3">
					<p class="md:text-xl">{e.title}</p>
				</div>
			))
		}
	</div>
</div>
