---
import { ArrowRight } from '@lucide/astro'
---

<button
	class="bg-primary border-bg text-secondary-bg flex h-10 items-center border py-1 pr-1 md:h-14"
>
	<span class="px-4 font-semibold md:px-8 md:text-lg lg:text-xl">Selengkapnya</span>
	<ArrowRight class="bg-secondary-bg text-primary aspect-square h-full w-auto" />
</button>
